@import 'tailwindcss';

:root {
  --bg-light: #f3f3f3;
  --text-light: #eeeeee;
  --bg-dark: #222222;
  --text-dark: #111111;
  --border: #cccccc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}
